
.tj-grid-flex {
  display: flex;
}

.tj-grid-flex--align-center {
  align-items: center;
}

.tj-grid-flex--justify-center {
  justify-content: center;
}

.tj-grid-flex__cell-1-2 {
  flex: 0 0 50%;
}

@include bp-mobile {
  .tj-grid-flex__cell-1-1--mob {
    flex: 0 0 100%;
  }

  .tj-grid-flex--wrap-tab {
    flex-wrap: wrap;
  }
}

