
.tj--position-absolute {
  position: absolute;
}

.tj--position-relative {
  position: relative;
}

.tj--height-full {
  height: 100%;
}

.tj--width-full {
  width: 100%;
}

.tj--overflow-hidden {
  overflow: hidden;
}

.tj--position-top {
  top: 0;
}

.tj--z-index-10 {
  z-index: 10;
}

.tj--z-index-0 {
  z-index: 0;
}

.tj--z-index-neg-1 {
  z-index: -1;
}

.tj--padding-1 {
  padding: 5px;
}

.tj--padding-20 {
  padding: 100px;
}

.tj--padding-hor-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.tj--padding-hor-5 {
  padding-left: 25px;
  padding-right: 25px;
}

.tj--padding-vert-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.tj--margin-bottom-5 {
  margin-bottom: 25px;
}

.tj--font-size-20 {
  font-size: 1.25em;
}

.tj--font-size-24 {
  font-size: 1.5em;
}

.tj--font-white {
  color: #fff;
}

.tj--font-dark-gray {
  color: #4b4b4b;
}
.tj--text-shadow-black {
  text-shadow:
          0 0 0.3em #000,
          0 0 0.3em #000,
          0 0 0.3em #000,
          0 0 0.3em #000;
}

.tj--text-align-center {
  text-align: center;
}

.tj--text-decoration-none {
  text-decoration: none;
}

.tj--font-lobster {
  font-family: 'Lobster', cursive;
}

.tj--border-white-1 {
  border: solid 1px #fff;
}

.tj--bg-image-cover {
  background: none no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tj--opacity-0 {
  opacity: 0;
}

@include bp-tablet {
  .tj--padding-15--tab {
    padding: 75px;
  }
}

@include bp-mobile {
  .tj--padding-vert-10--mob {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

