
.tj--position-absolute {
  position: absolute;
}

.tj--width-full {
  width: 100%;
}

.tj--position-top {
  top: 0;
}

.tj--z-index-10 {
  z-index: 10;
}

.tj--padding-vert-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.tj--font-size-20 {
  font-size: 1.125em;
}

.tj--font-white {
  color: #fff;
}

.tj--font-lobster {
  font-family: 'Lobster', cursive;
}
