body, html {
  font-family: Helvetica, sans-serif;
  ::-webkit-scrollbar {
    display: none;
  }
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Lobster');

@import 'mixins';
@import 'normalize';
// Load helpers first to allow override
@import 'helpers';
@import 'grid-flex';
@import '../components/hero-image-component/hero-image';
@import '../components/navigation-component/navigation';
@import '../components/language-chooser-component/language-chooser';
@import '../components/navigation-language-chooser-component/navigation-language-chooser';