body, html {
  font-family: Helvetica, sans-serif;
  ::-webkit-scrollbar {
    display: none;
  }
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Lobster');

@import 'mixins';
// Load helpers first to allow override
@import 'helpers';
@import 'normalize';
@import 'hero-image';
@import 'navigation';
@import 'grid-flex';
@import 'language-chooser';