
.tj-navigation-language-chooser__flag {
  background: none no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 40px;
  padding-bottom: 52%;
}