<div class="tj--position-absolute
            tj--position-top
            tj--position-right
            tj-grid-flex
            tj-grid-flex--align-center
            tj--height-full
            tj--padding-hor-3">
  <%# languages %>
  <div class="tj--padding-hor-2">
    <a href="<% url %>"
       class="tj-navigation-language-chooser tj--display-block tj--border-radius-3"
       style="background-image: url('<% flagPath %>')"></a>
  </div>
  <%/ languages %>
</div>