<div class="tj-hero-image
            tj-grid-flex
            tj-grid-flex--align-center
            tj-grid-flex--justify-center
            tj--position-relative
            tj--overflow-hidden">
  <div class="tj-hero-image__image
              tj-hero-image__image--deblur
              tj--position-absolute
              tj--height-full
              tj--width-full
              tj--z-index-0" style="background-image: url('/img/paris.jpg')"></div>
  <div class="tj-hero-image__text tj--font-lobster tj--font-white tj--position-relative tj--z-index-10">T.J. &amp; Nina</div>
</div>