<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>T.J. &amp; Nina | Login</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script defer src="/js/main.js?1538939309816"></script>

  <link rel="stylesheet" href="&#x2F;css&#x2F;main.css?1538939309815">

</head>
<body>
<link rel="stylesheet" href="&#x2F;css&#x2F;navigation.css?1538939309815">

<div data-tj-navigation
    class="tj-navigation
           tj--z-index-10
           tj--width-full
           tj--position-relative
           ">
  <div class="tj--hide-tablet tj--height-full tj--width-full">
    <nav class="tj-grid-flex
                tj-grid-flex--justify-center
                tj--height-full
                tj--width-full
                tj--font-size-20
                tj--font-weight-light">
      <a href="/en/index.html"
         class="tj-navigation__link
              tj-grid-flex
              tj-grid-flex--align-center
              tj--padding-hor-3
              tj--text-decoration-none
              tj--font-white">
        <div class="tj-grid-flex
                    tj-grid-flex--align-center
                    tj--height-full
                    tj--position-relative">
          <div>Home</div>
        </div>

      </a>
      <a href="/en/details.html"
         class="tj-navigation__link
              tj-grid-flex
              tj-grid-flex--align-center
              tj--padding-hor-3
              tj--text-decoration-none
              tj--font-white">
        <div class="tj-grid-flex
                    tj-grid-flex--align-center
                    tj--height-full
                    tj--position-relative">
          <div>Details</div>
        </div>

      </a>
      <a href="/en/registry.html"
         class="tj-navigation__link
              tj-grid-flex
              tj-grid-flex--align-center
              tj--padding-hor-3
              tj--text-decoration-none
              tj--font-white">
        <div class="tj-grid-flex
                    tj-grid-flex--align-center
                    tj--height-full
                    tj--position-relative">
          <div>Registry</div>
        </div>

      </a>
      <a href="/en/photos.html"
         class="tj-navigation__link
              tj-grid-flex
              tj-grid-flex--align-center
              tj--padding-hor-3
              tj--text-decoration-none
              tj--font-white">
        <div class="tj-grid-flex
                    tj-grid-flex--align-center
                    tj--height-full
                    tj--position-relative">
          <div>Photos</div>
        </div>

      </a>
      <a href="/en/rsvp.html"
         class="tj-navigation__link
              tj-grid-flex
              tj-grid-flex--align-center
              tj--padding-hor-3
              tj--text-decoration-none
              tj--font-white">
        <div class="tj-grid-flex
                    tj-grid-flex--align-center
                    tj--height-full
                    tj--position-relative">
          <div>RSVP</div>
        </div>

      </a>
    </nav>
    <div class="tj--position-absolute
                tj--position-top
                tj--position-right
                tj--height-full
                tj--padding-bottom-1">
      
    </div>
  </div>
  <div class="tj--hide-desktop tj--height-full tj--width-full tj--border-bottom-white-1">
    <div v-if="open"
         v-cloak
         class="tj-navigation__language-chooser-mob
                tj--position-absolute
                tj--position-top
                tj--position-left
                tj--height-full">
      
    </div>
    <div v-on:click="toggleOpen"
        class="tj--position-absolute
               tj--position-right
               tj--position-top
               tj--position-right
               tj--height-full
               tj-grid-flex
               tj-grid-flex--align-center
               tj--padding-hor-3">
      <div class="tj--border-white-1 tj--border-radius-3">
        <div class="tj-navigation__mob-menu-line tj--border-white-1 tj--margin-hor-1 tj--border-radius-3"></div>
        <div class="tj-navigation__mob-menu-line tj--border-white-1 tj--margin-hor-1 tj--border-radius-3"></div>
        <div class="tj-navigation__mob-menu-line tj--border-white-1 tj--margin-hor-1 tj--border-radius-3"></div>
      </div>
    </div>
    <nav v-if="open"
         v-cloak
         class="tj-navigation__links-mob
                tj--position-absolute
                tj--width-full
                tj--font-size-20
                tj--font-weight-light
                tj--border-bottom-white-1">
      <a v-on:click="close"
         href="/en/index.html"
         class="tj-navigation__link-mob
                tj-grid-flex
                tj-grid-flex--justify-center
                tj--display-block
                tj--text-decoration-none
                tj--font-white
                tj--border-bottom-transparent-1">
        <div class="tj-grid-flex
                    tj-grid-flex--align-center
                    tj--position-relative">
          <div>Home</div>
        </div>
      </a>
      <a v-on:click="close"
         href="/en/details.html"
         class="tj-navigation__link-mob
                tj-grid-flex
                tj-grid-flex--justify-center
                tj--display-block
                tj--text-decoration-none
                tj--font-white
                tj--border-bottom-transparent-1">
        <div class="tj-grid-flex
                    tj-grid-flex--align-center
                    tj--position-relative">
          <div>Details</div>
        </div>
      </a>
      <a v-on:click="close"
         href="/en/registry.html"
         class="tj-navigation__link-mob
                tj-grid-flex
                tj-grid-flex--justify-center
                tj--display-block
                tj--text-decoration-none
                tj--font-white
                tj--border-bottom-transparent-1">
        <div class="tj-grid-flex
                    tj-grid-flex--align-center
                    tj--position-relative">
          <div>Registry</div>
        </div>
      </a>
      <a v-on:click="close"
         href="/en/photos.html"
         class="tj-navigation__link-mob
                tj-grid-flex
                tj-grid-flex--justify-center
                tj--display-block
                tj--text-decoration-none
                tj--font-white
                tj--border-bottom-transparent-1">
        <div class="tj-grid-flex
                    tj-grid-flex--align-center
                    tj--position-relative">
          <div>Photos</div>
        </div>
      </a>
      <a v-on:click="close"
         href="/en/rsvp.html"
         class="tj-navigation__link-mob
                tj-grid-flex
                tj-grid-flex--justify-center
                tj--display-block
                tj--text-decoration-none
                tj--font-white
                tj--border-bottom-transparent-1">
        <div class="tj-grid-flex
                    tj-grid-flex--align-center
                    tj--position-relative">
          <div>RSVP</div>
        </div>
      </a>
      <div class="tj--position-absolute
                  tj--position-top
                  tj--width-full
                  tj--height-full
                  tj--overflow-hidden
                  tj--z-index-neg-1">
        <div class="tj--navigation__background-nav-links
                    tj--position-absolute
                    tj--width-full"
             style="background-image: url('/img/paris.jpg')"></div>
      </div>
    </nav>
  </div>
  <div class="tj--position-absolute
              tj--position-top
              tj--width-full
              tj--height-full
              tj--overflow-hidden
              tj--z-index-neg-1">
    <div class="tj--navigation__background
                tj--width-full"></div>
  </div>
</div>

<div class="tj--bg-floral-white tj--padding-vert-5">
  <div class="tj--max-width-1020 tj--margin-hor-auto tj--padding-hor-1 tj--min-height-100vh-minus-nav">
    <div class="tj--font-size-32 tj--font-blacksword tj--margin-bottom-1 tj--text-align-center">Login</div>
    <div class="tj--margin-top-5
                tj--line-height-1-5
                tj--padding-hor-1
                tj--width-half
                tj--width-full--mob
                tj--margin-hor-auto">
      <div data-tj-login></div>
    </div>
  </div>
</div>
<div class="tj--padding-vert-5 tj--text-align-center tj--font-dark-gray">
  &copy; 2018 T.J. Schiffer
</div>
</body>
</html>
