<!doctype html>
<html class="no-js" lang="{{ language }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>T.J. &amp; Nina | {{ Photos }}</title>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-72237523-2"></script>-->
  <script>
    // window.dataLayer = window.dataLayer || [];
    //
    // function gtag() {
    //   dataLayer.push(arguments);
    // }
    //
    // gtag('js', new Date());

    // gtag('config', 'UA-72237523-2');
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="tj-navigation
            tj--overflow-hidden
            tj--z-index-10
            tj--width-full
            tj--position-relative
            ">
  <div class="tj--hide-tablet tj--height-full tj--width-full">
    <nav class="tj-grid-flex
                tj-grid-flex--justify-center
                tj--height-full
                tj--width-full
                tj--font-size-20
                tj--font-weight-light">
      <a href="index.html"
         class="tj-navigation__link
              tj-grid-flex
              tj-grid-flex--align-center
              tj--padding-hor-3
              tj--text-decoration-none
              tj--font-white">
        <div>{{ Home }}</div>
      </a>
      <a href="details.html"
         class="tj-navigation__link
              tj-grid-flex
              tj-grid-flex--align-center
              tj--padding-hor-3
              tj--text-decoration-none
              tj--font-white">
        <div>{{ Details }}</div>
      </a>
      <a href="registry.html"
         class="tj-navigation__link
              tj-grid-flex
              tj-grid-flex--align-center
              tj--padding-hor-3
              tj--text-decoration-none
              tj--font-white">
        <div>{{ Registry }}</div>
      </a>
      <a href="photos.html"
         class="tj-navigation__link
              tj-grid-flex
              tj-grid-flex--align-center
              tj--padding-hor-3
              tj--text-decoration-none
              tj--font-white">
        <div>{{ Photos }}</div>
      </a>
    </nav>
    <div class="tj-navigation-language-chooser
            tj--position-absolute
            tj--position-top
            tj--position-right
            tj-grid-flex
            tj-grid-flex--align-center
            tj--height-full
            tj--padding-hor-3
            tj--z-index-10">
  <a href="&#x2F;fr/{{ templateOutput }}" class="tj-grid-flex
                             tj-grid-flex--align-center
                             tj--padding-hor-2
                             tj--height-full">
    <div class="tj-navigation-language-chooser__flag tj--border-radius-3 tj--margin-bottom-1"
       style="background-image: url('&#x2F;img&#x2F;franceflag.svg')"></div>
  </a>
  <a href="&#x2F;en/{{ templateOutput }}" class="tj-grid-flex
                             tj-grid-flex--align-center
                             tj--padding-hor-2
                             tj--height-full">
    <div class="tj-navigation-language-chooser__flag tj--border-radius-3 tj--margin-bottom-1"
       style="background-image: url('&#x2F;img&#x2F;americaflag.svg')"></div>
  </a>
</div>
  </div>
  <div class="tj--hide-desktop tj--height-full tj--width-full">
    <div class="tj-navigation__language-chooser-mob tj--position-relative tj--display-none">
      <div class="tj-navigation-language-chooser
            tj--position-absolute
            tj--position-top
            tj--position-right
            tj-grid-flex
            tj-grid-flex--align-center
            tj--height-full
            tj--padding-hor-3
            tj--z-index-10">
  <a href="&#x2F;fr/{{ templateOutput }}" class="tj-grid-flex
                             tj-grid-flex--align-center
                             tj--padding-hor-2
                             tj--height-full">
    <div class="tj-navigation-language-chooser__flag tj--border-radius-3 tj--margin-bottom-1"
       style="background-image: url('&#x2F;img&#x2F;franceflag.svg')"></div>
  </a>
  <a href="&#x2F;en/{{ templateOutput }}" class="tj-grid-flex
                             tj-grid-flex--align-center
                             tj--padding-hor-2
                             tj--height-full">
    <div class="tj-navigation-language-chooser__flag tj--border-radius-3 tj--margin-bottom-1"
       style="background-image: url('&#x2F;img&#x2F;americaflag.svg')"></div>
  </a>
</div>
    </div>
    <nav class="tj-navigation__links-mob
                tj-grid-flex
                tj-grid-flex--dir-column
                tj-grid-flex--justify-center
                tj--position-absolute
                tj--width-full
                tj--font-size-20
                tj--font-weight-light">
      <a href="index.html"
         class="tj-navigation__link-mob
                tj-grid-flex
                tj-grid-flex--align-center
                tj-grid-flex--justify-center
                tj--text-decoration-none
                tj--font-white">
        <div>{{ Home }}</div>
      </a>
      <a href="details.html"
         class="tj-navigation__link-mob
                tj-grid-flex
                tj-grid-flex--align-center
                tj-grid-flex--justify-center
                tj--text-decoration-none
                tj--font-white">
        <div>{{ Details }}</div>
      </a>
      <a href="registry.html"
         class="tj-navigation__link-mob
                tj-grid-flex
                tj-grid-flex--align-center
                tj-grid-flex--justify-center
                tj--text-decoration-none
                tj--font-white">
        <div>{{ Registry }}</div>
      </a>
      <a href="photos.html"
         class="tj-navigation__link-mob
                tj-grid-flex
                tj-grid-flex--align-center
                tj-grid-flex--justify-center
                tj--text-decoration-none
                tj--font-white">
        <div>{{ Photos }}</div>
      </a>
    </nav>
  </div>
  <div class="tj--navigation__background
                tj--position-absolute
                tj--position-top
                tj--width-full
                tj--z-index-neg-1"
       style="background-image: url('/img/paris.jpg')"></div>
</div>

<div class="tj-grid-flex tj-grid-flex--justify-center tj-grid-flex--align-center"
     style="height: calc(100vh - 60px);">
  <div style="font-size: 4em; margin-bottom: 125px;"
       class="tj--padding-hor-3 tj--font-lobster tj--text-align-center tj--font-dark-gray">
    {{ ComingSoon }}
  </div>
</div>
<div class="tj--padding-vert-5 tj--text-align-center tj--font-dark-gray">
  &copy; 2018 T.J. Schiffer
</div>
</body>
</html>
