
.tj-navigation {
  height: 60px;
}

.tj--navigation__background {
  background: none no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100vh;
  transform: scale(1.05);
}

.tj-navigation-link {
  height: 100%;

  &:hover {
    text-shadow: 0 0 2.5em #000;
  }
}

@include bp-tablet {
  .tj--navigation__background {
    // Match the hero image background
    transform: scale(1.1);
  }
}
