<div class="tj-navigation
            tj-grid-flex
            tj-grid-flex--justify-center
            tj--position-absolute
            tj--width-full
            tj--position-top
            tj--z-index-10
            tj--font-size-20">
  <%# navigationLinks %>
  <a href="{{ language }}/<% linkAddress %>"
      class="tj-navigation-link
            tj-grid-flex
            tj-grid-flex--align-center
            tj--padding-hor-3
            tj--font-white"><div>{{ <% linkName %> }}</div></a>
  <%/ navigationLinks %>
</div>