<div class="tj-navigation
            tj--overflow-hidden
            tj--z-index-10
            tj--width-full
            <%# isOverlay %>
            tj--position-absolute
            tj--position-top
            <%/ isOverlay %>
            <%^ isOverlay %>
            tj--position-relative
            <%/ isOverlay %>">
  <div class="tj--hide-tablet tj--height-full tj--width-full">
    <nav class="tj-grid-flex
                tj-grid-flex--justify-center
                tj--height-full
                tj--width-full
                tj--font-size-20
                tj--font-weight-light">
      <%# navigationLinks %>
      <a href="<% linkAddress %>"
         class="tj-navigation__link
              tj-grid-flex
              tj-grid-flex--align-center
              tj--padding-hor-3
              tj--text-decoration-none
              tj--font-white">
        <div>{{ <% linkName %> }}</div>
      </a>
      <%/ navigationLinks %>
    </nav>
    <%& navigationLanguageChooser %>
  </div>
  <div class="tj--hide-desktop tj--height-full tj--width-full">
    <div class="tj-navigation__language-chooser-mob tj--position-relative tj--display-none">
      <%& navigationLanguageChooser %>
    </div>
    <nav class="tj-navigation__links-mob
                tj-grid-flex
                tj-grid-flex--dir-column
                tj-grid-flex--justify-center
                tj--position-absolute
                tj--width-full
                tj--font-size-20
                tj--font-weight-light">
      <%# navigationLinks %>
      <a href="<% linkAddress %>"
         class="tj-navigation__link-mob
                tj-grid-flex
                tj-grid-flex--align-center
                tj-grid-flex--justify-center
                tj--text-decoration-none
                tj--font-white">
        <div>{{ <% linkName %> }}</div>
      </a>
      <%/ navigationLinks %>
    </nav>
  </div>
  <%^ isOverlay %>
  <div class="tj--navigation__background
                tj--position-absolute
                tj--position-top
                tj--width-full
                tj--z-index-neg-1"
       style="background-image: url('/img/paris.jpg')"></div>
  <%/ isOverlay %>
</div>
